@import './base.css';
@import "../../node_modules/bootstrap/scss/bootstrap.scss";

#app {
  max-width: 400px;
  margin: auto;
}

.squarebtn {
  @extend .btn;
  @extend .p-0;
  width: 60px;
  height: 60px;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
}

#myErrorAlert {
  @extend .border;
  @extend .text-white;
  @extend .alert;
  @extend .alert-dismissible;
  @extend .fade;

  font-weight: bold;
}

#diceInputContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#diceInputContainer div {
  text-align: center;
}